
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

.col-6 {
margin: 0px;
padding: 0px;
}

/*-------------------------------Navigation */

nav {
  background-color: #a6b784;
  background-size: 500%, 400%;
  position: relative;
  animation: change 35s ease-in-out infinite;
  height: 8vh;
  width: 100%;  
  margin: 0;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  margin-right: 1;
  position: fixed;
  background: #a6b784;
  background-size: 500%, 400%;
  height: 30%;
  width: 100%;
  flex-direction: column;
  clip-path: circle(1px at 90% -1%);
  -webkit-clip-path: circle(1px at 90% -1%);
  transition: all 1s ease-in;
  z-index: 1;
  letter-spacing: 1px;
  overflow: hidden;
}

.menu-button {
  width: 130px;
  height: 45px;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: solid 0.1px white;
  padding: 12px 2px 5px 2px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.6);
  vertical-align: center;
  text-align: center;
  left: -10%;
}

.nav-links li a:hover{
  border: solid 0.08px black;
}

.landing {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav-links.open {
  clip-path: circle(9000px at 90% -1%);
  -webkit-clip-path: circle(9000px at 90% -1%);
}

.landing {
  flex-direction: column;
}

.nav-links li {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.nav-links li:nth-child(1) {
  transition: all 0.2s ease 0.5s;
}
.nav-links li:nth-child(2) {
  transition: all 0.4s ease 0.7s;
}
.nav-links li:nth-child(3) {
  transition: all 0.6s ease 0.9s;
}
.nav-links li:nth-child(4) {
  transition: all 0.8s ease 0.98s;
}
.nav-links li:hover {
  color: white;
  transition: all 0.4s 
}

li.fades{
  opacity: 1;
  display: inline;
  pointer-events: fill;
  cursor: pointer;
}

.logo {
  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  margin-left: 16px;
  z-index: 3;
}

.fixed-menu {
  overflow: hidden;
}

.hamburger:active .menu-button {
  pointer-events: all;
  cursor: pointer;
} 

.menu-buttons {
  color: white;
  font-size: 20px;
}

/*-------------------------------Hamburger Animation*/

.changelines .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 4px);
}

.changelines .line-2 {
  opacity: 0;
}

.changelines .line-3 {
  transform: rotateZ(405deg) translate(-8px, -4px);
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: all 0.8s;
}

/*-------------------------------3 steps info  */

.center {
  text-align: center;
} 

.icon-box {
  min-height:100px;
  margin-top:60px;
} 

.icon-text {
 padding:0 24%;
}

.center-row {
  justify-content: center;
}

/*-------------------------------Banner Section */

.banner-index {
  height: 40vh;
  width: 100%;
  overflow: hidden;
}

.banner-video {
  justify-content: center;
  z-index: -1;
  position: relative;
  height: 120vh;
  box-shadow: 4px 6px 5px #13a8ad;
}

.banner-shadow {
height: 100%;
width: 100%;
background-color: rgba(46, 43, 43, 0.38);
z-index: 2;
}

.banner-text {
  text-align: center;
  justify-content: center;
  align-content: center;
  color: white;
  z-index: 4;
  margin-top: -200px;
  font-size: 30px;
  font-weight: 100;
}

.index-header {
  text-align: center;
  color: black;
  font-size: 45px;
  font-weight: 300;
  margin: 70px 0 40px 0;
} 

.info-section {
  margin-bottom: 50px;
}

.step-icons {
  font-size: 45px;
  color: rgba(85, 107, 47, 0.705);
}

.step-info {
  font-size: 2vh;
  font-weight: 100;
  text-align: center;
}


/*-------------------------------Product Section */

/* Style the tab buttons */

.tablink {
  background-color: #a6b784;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 8px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  height: 41px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #dbdbb2;
  font-weight: 100;
  outline: none;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  justify-content: center;
  padding-top: 10px;
}

.product-image-box {
  width: 60%;
  height: auto;
}

.image-box {
  width: 60%;
  height: auto;
  float: left;
}

.packages img {
  height: auto;
  width: 100%;
  max-height: 450px;
  margin: 10px 0px;
  border: solid 10px #a6b784;
}
.packages {
    width: 100%;
  vertical-align: center;
  justify-content: center;
  align-content: space-between;
  color: black;
}

.buttons-wrap {
    float: left;
}

.add-button {
  border: solid 2px black;
  width: 150px;
  height: auto;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.add-button:hover{
    color: rgba(85, 107, 47, 0.705);
    border-color: rgba(85, 107, 47, 0.705);
}

.price-button {
  border: solid 2px black;
  width: 150px;
  height: auto;
  font-size: 25px;
  text-align: center;
  color: #11c757;
  margin-top: 10px;
}

.product-settings-button {
  border: solid 2px black;
  width: 150px;
  height: auto;
  font-size: 25px;
  text-align: center;
  color: black;
  margin-top: 10px;
}

.product-settings-button:hover{
  border: solid 2px #f79862;
  width: 150px;
  height: auto;
  font-size: 25px;
  text-align: center;
  color: #f79862;
  margin-top: 10px;
}

.button-section {
  vertical-align: center;
  justify-content: center;
  float: left;
  padding: 10px 20px;
  
}

.ingredients-text {
font-size: 18px;
float: right;
padding-left: 10px;

}

.product-header {
    color: gray;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    width: 35%;
}

.product-boxes {
  margin-top: 50px;
}

.product-name {
  font-size: 30px;
  font-weight: 100;
  float: right;
}

.product-weight {
  color: orange;
  font-size: 20px;
  font-weight: 100;
  padding-top: 10px;
  padding-left: 10px;
  float: right;
}

.details-header {
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-top: 15px;
  padding-left: 5px;
}

.details-text {
    font-size: 15px;
    font-weight: 100;
}

.delete-header{
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-left: 10px;
  float: right;
}
.container .change-product {
   flex-wrap: wrap;
}

.container .change-product label {
    cursor: pointer;
}

.change-product #small-products div p {
  padding: 30px 30px;
}

#small-products input[type=checkbox] {
    display: none;
}

.container span {
    position: relative;
    text-align: center;
    display: inline-block;
    background: #dbdbb2;
    padding: 4px 0px;
    color: black;
    width: 100px;
    height: 34px;
    font-size: 15px;
    transition: 0.5s;
    border: solid 2px #dbdbb2;
}

.ingredient {
    position: relative;
    text-align: center;
    display: inline-block;
    background: #dbdbb2;
    color: black;
    font-size: 15px;
    transition: 0.5s;
    border: solid 2px #dbdbb2;
}

.muted {
    position: relative;
    text-align: center;
    display: inline-block;
    background: #dbdbb2;
    box-shadow: 0px 2px 13px #f79862;
    color: #f79862;
    font-size: 15px;
    transition: 1.2s;
    margin-left: 1px;
    text-decoration-line: line-through;
    -webkit-text-decoration-line: line-through;
}
.message-box {
  width: 300px;
  padding: 10px;
  margin: 0;
  width: 150px;
  height: 40px;
  font-size: 12px;
  font-weight: 100;
  font-family: "Roboto";
  text-align: left;
  white-space: normal;
  border: 1px solid grey;
  border-radius: 0px;
}

/*------------------------------- Footer */

.footer {
  background-color: rgba(105, 103, 103, 0.6);
  height: 250px;
  width: 100%;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.copyright{
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

@media (min-width: 320px){
 .product-header {
  width: 100%;
  float: left;
 }
}
@media (max-width: 415px){
 .step-info {
  font-size: 1.5vh;
 }
 .product-weight {
  font-size: 15px;
  padding: 0 0 0 10px;
 }
 .product-name {
  font-size: 15px;
 }
 .details-header {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding-top: 15px;
  padding-left: 5px;
}
.price-button {
  width: 100px;
}
.product-settings-button {
  width: 100px;
}
.add-button {
  width: 100px;
}
.image-box {
  width: 100%;
  height: auto;
}
.details-header {
  font-size: 15px;
  padding-top: 15px;
}
}
@media (max-width: 768px){
.image-box{
 margin-right: 0px;
 width: 100%;
}
.change-product {
    text-align: center;
    justify-content: center;
}
}
@media (min-width: 768px){
 .product-header {
  width: 35%;
 }
}