
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


a:hover {
  text-decoration: none;
}

nav {
  background: darkolivegreen;
  background-size: 500%, 400%;
  position: relative;
  animation: change 35s ease-in-out infinite;
  height: 8vh;
  width: 100%;  
  margin: 0;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  margin-right: 1;
  position: fixed;
  background: darkolivegreen;
  background-size: 500%, 400%;
  height: 30%;
  width: 100%;
  flex-direction: column;
  clip-path: circle(1px at 90% -1%);
  -webkit-clip-path: circle(1px at 90% -1%);
  transition: all 1s ease-in;
  z-index: 1;
  letter-spacing: 1px;
  overflow: hidden;
}

.menu-button {
  width: 130px;
  height: 45px;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: solid 0.1px white;
  padding: 12px 2px 5px 2px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.6);
  vertical-align: center;
  text-align: center;
  left: -10%;
}

.nav-links li a:hover{
  border: solid 0.08px black;
}

.landing {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav-links.open {
  clip-path: circle(9000px at 90% -1%);
  -webkit-clip-path: circle(9000px at 90% -1%);
}

.landing {
  flex-direction: column;
}

.nav-links li {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.nav-links li:nth-child(1) {
  transition: all 0.2s ease 0.5s;
}
.nav-links li:nth-child(2) {
  transition: all 0.4s ease 0.7s;
}
.nav-links li:nth-child(3) {
  transition: all 0.6s ease 0.9s;
}
.nav-links li:nth-child(4) {
  transition: all 0.8s ease 0.98s;
}
.nav-links li:hover {
  color: white;
  transition: all 0.4s 
}

li.fades{
  opacity: 1;
  display: inline;
  pointer-events: fill;
  cursor: pointer;
}

.logo {
  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  margin-left: 16px;
  z-index: 3;
}

.fixed-menu {
  overflow: hidden;
}

.hamburger:active .menu-button {
  pointer-events: all;
  cursor: pointer;
} 

.menu-buttons {
  color: white;
  font-size: 20px;
}

/*-------------------------------Hamburger Animation*/

.changelines .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 4px);
}

.changelines .line-2 {
  opacity: 0;
}

.changelines .line-3 {
  transform: rotateZ(405deg) translate(-8px, -4px);
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: all 0.8s;
}

.center {
  text-align: center;
} 

.icon-box {
  min-height:100px;
  margin-top:60px;
} 

.icon-text {
 padding:0 24%;
}

.center-row {
  justify-content: center;
}

.index-header {
  text-align: center;
  color: black;
  font-size: 45px;
  font-weight: 300;
  margin: 70px 0 40px 0;
} 

.packages img {
  height: auto;
  width: 210px;
  margin: 10px 20px;
}

.packages p {
  margin: 10px;
  color: black;
}

.add-button {
  border: solid 2px black;
  width: 40%;
  height: auto;
  font-size: 25px;
  text-align: center;
  float: left;
}

.add-button:hover{
    color: #11c757;
    border-color: #11c757;
}

.price-button {
  border: solid 2px black;
  width: 40%;
  height: auto;
  font-size: 25px;
  text-align: center;
  float: right;
  color: #13a8ad;
}

.product-details {
  vertical-align: center;
  justify-content: center;
}

.banner-index {
  height: 40vh;
  width: 100%;
  overflow: hidden;
}

.banner-video {
  justify-content: center;
  z-index: -1;
  position: relative;
  height: 120vh;
  box-shadow: 4px 6px 5px #13a8ad;
}

.banner-shadow {
height: 100%;
width: 100%;
background-color: rgba(46, 43, 43, 0.38);
z-index: 2;
}

.banner-text {
  text-align: center;
  justify-content: center;
  align-content: center;
  color: white;
  z-index: 4;
  margin-top: -200px;
  font-size: 30px;
  font-weight: 100;
}


.product-header {
  margin: 0px 5px;
  color: gray;
  font-size: 30px;
  font-weight: 100;
}

.product-boxes {
  margin-top: 50px;
}

.product-name {
  float: left;
}

.product-weight {
  float: right;
  color: #11c757;
  font-size: 20px;
  font-weight: 100;
}

.product-boxes a:hover {
  box-shadow: 3px 4px 6px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.footer {
  background-color: rgba(105, 103, 103, 0.6);
  height: 250px;
  width: 100%;
  margin-top: 100px;
  position: relative;
  text-align: center;
}

.copyright{
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
